---
import Language from '@icons/language.astro'
import ThemeToggle from './theme-toggle.astro'
import Printer from '@icons/printer.astro'
const es = Astro.url.pathname.startsWith('/es')

const languages = [
  {
    key: 'en',
    label: 'English',
    href: '/'
  },
  {
    key: 'es',
    label: 'Español',
    href: '/es'
  }
]
---

<header
  class='no-print mx-auto flex max-w-screen-lg items-center justify-end gap-2 px-4 pb-6 dark:text-white'
>
  <button
    id='print'
    class='items-center px-0 py-0 transition-transform hover:scale-125'
    aria-label='Print CV'
  >
    <Printer class='w-5' />
  </button>
  <ThemeToggle />
  <button aria-label='Languages' class='bg-green-450 group relative z-50'>
    <Language
      class='w-5 opacity-80 transition-transform group-hover:scale-125'
    />
    <div class='absolute right-0 top-0 hidden h-10 w-6 group-hover:block'></div>
    <div
      class='scale-80 absolute right-0 top-8 hidden min-w-[6rem] rounded-md border bg-white/90 p-1 text-sm backdrop-blur-md hover:block group-hover:block dark:border-black/80 dark:bg-black/70'
    >
      <ul class='flex flex-col gap-1'>
        {
          languages.map(({ href, label, key }) => (
            <li
              class:list={[
                'rounded-md text-start hover:bg-primary/5 dark:hover:bg-white/5',
                ((es && key == 'es') || (!es && key == 'en')) &&
                  'pointer-events-none bg-primary/5 dark:bg-white/5'
              ]}
            >
              <a href={href} class='block px-2 py-1.5'>
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </button>
</header>

<script>
  const $printBtn = document.getElementById('print')
  $printBtn?.addEventListener('click', () => {
    window.print()
  })
</script>
