---
import { data } from '@data'
import CardContent from '@ui/card/card-content.astro'
import CardHeader from '@ui/card/card-header.astro'
import CardTitle from '@ui/card/card-title.astro'
import Card from '@ui/card/card.astro'
const es = Astro.url.pathname.startsWith('/es')

const {
  aboutMe: { title, description }
} = es ? data.es : data.en
---

<Card className='mb-6'>
  <CardHeader>
    <CardTitle>{title}</CardTitle>
  </CardHeader>
  <CardContent>
    <p class='text-muted-foreground'>
      {description}
    </p>
  </CardContent>
</Card>
