---
import { data } from '@data'
import CardContent from '@ui/card/card-content.astro'
import Card from '@ui/card/card.astro'
const es = Astro.url.pathname.startsWith('/es')

const {
  aboutMe: { title, description }
} = es ? data.es : data.en
---

<Card class='mb-6 pt-6'>
  <CardContent>
    <h4 class='mb-2 text-lg font-semibold'>{title}</h4>
    <p class='text-muted-foreground'>
      {description}
    </p>
  </CardContent>
</Card>
