---
import Profile from '@components/profile.astro'
import Skills from '@components/skills.astro'
---

<aside class='md:col-span-1'>
  <div class='sticky top-8'>
    {/* Profile Section */}
    <Profile />
    {/* Skills Section */}
    <Skills />
  </div>
</aside>
