---
import { data } from '@data'
import Badge from '@ui/badge.astro'
import CardContent from '@ui/card/card-content.astro'
import CardHeader from '@ui/card/card-header.astro'
import CardTitle from '@ui/card/card-title.astro'
import Card from '@ui/card/card.astro'
const es = Astro.url.pathname.startsWith('/es')
const { skills } = es ? data.es : data.en
---

<Card className='mt-6'>
  <CardHeader>
    <CardTitle>Skills</CardTitle>
  </CardHeader>
  <CardContent>
    <div class='flex flex-wrap gap-2'>
      {
        skills.map(({ name, color }, i) => (
          <Badge
            key={i}
            variant='secondary'
            className='dark:text-white/80 dark:border-white/10'
          >
            {name}
          </Badge>
        ))
      }
    </div>
  </CardContent>
</Card>
