---
import { data } from '@data'
import Badge from '@ui/badge.astro'
import CardContent from '@ui/card/card-content.astro'
import CardHeader from '@ui/card/card-header.astro'
import CardTitle from '@ui/card/card-title.astro'
import Card from '@ui/card/card.astro'
---

<Card class='mt-6 print:mt-4'>
  <CardHeader>
    <CardTitle>Skills</CardTitle>
  </CardHeader>
  <CardContent>
    <div class='flex flex-wrap gap-2'>
      {
        data.skills.map(({ name, icon }, i) => (
          <Badge
            key={i}
            variant='secondary'
            className='dark:text-white/80 dark:border-white/15 flex gap-1 items-center'
          >
            {icon && <img src={`/skills/${icon}`} class='h-3' alt={name} />}
            {name}
          </Badge>
        ))
      }
    </div>
  </CardContent>
</Card>
