---
export interface Props {
  className?: string
  [key: string]: any
}

const { className, ...props } = Astro.props
---

<div
  class:list={[
    'bg-card text-card-foreground rounded-lg border border-dashed shadow-sm dark:border-white/10 print:border-2 print:shadow-none',
    className
  ]}
  {...props}
>
  <slot />
</div>
