---
export interface Props {
  className?: string;
  [key: string]: any;
}

const { className, ...props } = Astro.props;
---

<div
  class:list={[
    "rounded-lg border bg-card text-card-foreground shadow-sm border-dashed dark:border-white/10",
    className,
  ]}
  {...props}
>
  <slot />
</div>
